@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');


.body{
  font-family: 'Zen Loop' cursive;
}

.logo {
  
  width: 5.25rem;
  
}

nav ul li :hover{
  
  color: whitesmoke !important;
}

nav ul li {
  text-transform: uppercase;
}
.ml-auto {
  margin-left: auto !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:active:focus {
  border-top: 0.1875rem solid rgb(243, 238, 228);
}

